body label {
    display: inline-block;
    width: 100px; /* ラベルの幅 */
    margin-bottom: 5px;
    text-align: right;
}

body input[type="text"],
body input[type="password"] {
    /* font-family: monospace; 等幅フォント */
    font-size: 16px; /* フォントサイズを統一 */
    width: 200px; /* 入力フィールドの幅 */
    padding: 8px; /* 内側の余白 */
    margin-bottom: 5px; /* 下の余白 */
}

body button[type="submit"] {
    width: 150px; /* ボタンの幅 */
    padding: 10px;
    background-color: #333; /* 背景色 */
    color: white; /* テキストの色 */
    border: none; /* ボーダーをなくす */
    border-radius: 100px; /* ボタンの角を丸くする */
    cursor: pointer; /* カーソルをポインタに */
    margin-top: 10px; /* 上の余白のみ調整 */
    margin-left: 140px;
}

body button[type="submit"]:hover {
    background-color: #6620f1; /* ホバー時の色 */
}
