
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: 100px;
    margin: 30px auto;
    background-color: blue;
}

.video-item {
    margin-bottom: 30px;
}

video {
    /* display: block; */
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; 要素を折り返す */
    /* gap: 20px; 要素間のスペース */
    /* justify-content: space-between; 要素の間を均等に配置 */
    /* width: 80%; */
    max-width: 400px;
    /* display: flex;
    height: auto; */
}

h1 {
    text-align: center;
    margin-top: 20px;
    line-height: 100px;
    color: #f4f4f4;
}

h2{
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .video-item {
        flex: 1 1 100%; /* 幅を100%にする */
        max-width: 100%;
        font-size: 0.8rem;
    }
    h1{
        font-size: 1.3rem;
    }

    h2{
        font-size: 1.3rem;
    }
}